body { /*TAG*/
    background: #dbdbdb;
}

p { /*TAG*/
    color: #222222;
}

.foto-principal { /*CLASS*/
    border: 2px solid #FFFFFF; /*shorthand*/
    border-radius: 50% 50% 50% 50%;
    margin/*espaçamento externo*/: 30px 30px 30px 30px;
    padding/*espaçamento interno*/: 1px;
    box-shadow:  0px 0px 20px black;
}

