.container {
    display: flex;
    flex-wrap: wrap;
    background: grey;
}

.caixa {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: lightgreen;
}