$color-primary:lightcoral;
$color-secondary: burlywood;
$color-boxactive: red;
$color-background: black;
$color-a: olive;
$color-hover: white;
$font-primary: 'Arial', sans-serif;
$font-secondary: 'Comic Sans', sans-serif;
