$color-primary:lightcoral;
$color-secondary: burlywood;
$color-background: white;
$color-h1 : black;
$color-active: red;

$font-primary: 'Arial', sans-serif;
$font-secondary: 'Verdana', sans-serif;