@import 'variables';
@import 'base';
@import 'mixins';
@import 'extends';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    justify-content: space-around;
    //box é filho de container
    .box {
        color: $color-secondary;
        background-color: $color-primary;
        border-radius: 8px;
        width: 30%;
        padding: 20px;
        
        &.active
            {   
                background-color: $color-active;

            }
    }   


    h1 {
        letter-spacing: 1em;
        color: $color-h1;
    }

    p {
        font-size: 18px;
        margin-bottom: 8px;

        &.hidden {
            display:none;
        }
    }

    a {
        color: olive;

        &:hover {
            color:white;
        
        & + p.hidden {
            display:block;
        }
        }
    }

    ul {
        @include reset-list(100px,10px,square);
    }
    
    .success {
        @extend %box-alert;
        @include bg-effect (success);
} 

    .alert {
        @extend %box-alert;
        @include bg-effect (warning);
 }

    .danger {
        @extend %box-alert;
        @include bg-effect (danger);
        }
}
